.label {
    padding: rem(10px);
}

.pomoWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slideContainer {
    width: 25vw;
}

.startButton {
    margin: rem(40px);
}

.sessionInput {
    margin: rem(20px);
}

.breakInput {
    margin: rem(20px);
}

.numSessionsInput {
    margin: rem(20px);
}
