.card {
    position: relative;
    overflow: visible;
    padding: var(--mantine-spacing-xl);
}

.icon {
}

.title {
    font-family: Greycliff CF, var(--mantine-font-family);
    padding-top: rem(10px);
}
