.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.left {
    flex: 3;
    background-color: var(--mantine-color-light-2);
}

.right {
    flex: 1;
    background-color: var(--mantine-color-light-3);
}

@media (max-width: 1024px) {
    .left, .right {
        flex: 1 1 100%;
    }
}

.habitItem {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
}

.checkbox {
    flex-grow: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px; /* Space for delete icon */
}

.habitItem .mantine-ActionIcon-root {
    margin-left: 10px;
}

.button {
    margin: 10px;
}

@media (max-width: 600px) {
    .habitItem {
        max-width: 100%;
    }

    .checkbox {
        max-width: calc(100% - 40px); /* Adjust to ensure space for delete icon */
    }

    .habitItem .mantine-ActionIcon-root {
        margin-left: auto;
    }
}
