.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.row {
    display: flex;
    width: 90%;
    height: 90%;
    gap: 20px; /* Add gap between columns */
}

.left {
    flex: 2; /* Reduce the size of the left section */
    padding: 20px;
    background-color: var(--mantine-color-light-2);
}

.right {
    flex: 2; /* Increase the size of the right section */
    padding: 20px;
    background-color: var(--mantine-color-light-3);
}

@media (max-width: 1024px) {
    .row {
        flex-direction: column;
        gap: 0; /* Remove gap for small screens */
    }

    .left, .right {
        width: 100%;
        height: auto;
    }
}

.leftcontainer, .rightcontainer {
    width: 100%;
}

.habitItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
}

.checkbox {
    flex-grow: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.habitItem .mantine-ActionIcon-root {
    margin-left: 10px;
}

.button {
    margin: 10px;
}

.leftcontainer {
    padding-top: calc(2.5rem * var(--mantine-scale));
    max-width: calc(76.25rem * var(--mantine-scale));
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .habitItem {
        max-width: 100%;
    }

    .checkbox {
        max-width: calc(100% - 40px);
    }

    .habitItem .mantine-ActionIcon-root {
        margin-left: auto;
    }
}
