.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.row {
    display: flex;
    width: 90%;
    height: 90%;
    gap: 20px; /* Add gap between columns */
}

.left {
    flex: 2; /* Adjust the size of the left section */
    padding: 20px;
    background-color: var(--mantine-color-light-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
}

.right {
    flex: 2; /* Adjust the size of the right section */
    padding: 20px;
    background-color: var(--mantine-color-light-3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
}

@media (max-width: 1024px) {
    .row {
        flex-direction: column;
        gap: 0; /* Remove gap for small screens */
    }

    .left, .right {
        width: 100%;
        height: auto;
    }
}

.leftContainer, .rightContainer {
    width: 100%;
    padding: 20px;
}

.task {
    flex-grow: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.button {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .task {
        max-width: calc(100% - 40px);
    }

        .task .mantine-ActionIcon-root {
            margin-left: auto;
        }
}
